<!DOCTYPE html>
<html ng-app="semantic.ui.angular.checkbox">
  <head lang="en">
      <meta charset="UTF-8">
      <title></title>
      <link rel="stylesheet" href="../../../../node_modules/semantic-ui-css/semantic.css"/>
  </head>
  <body style="padding:100px;text-align:center;">

    <div class="ui form">
      <div class="field">
        <sm-checkbox ng-model="opts.disabled">Fields Disabled</sm-checkbox>
      </div>
      <div class="field">
        <sm-checkbox ng-model="opts.checked">Toggle Fields</sm-checkbox>
      </div>
      <div class="field">
        <sm-checkbox toggle ng-disabled="opts.disabled" ng-model="opts.checked">Field 1</sm-checkbox>
      </div>
      <div class="field">
        <sm-checkbox slider ng-disabled="opts.disabled" ng-model="opts.checked">Field 2</sm-checkbox>
      </div>
      <div class="field">
        <sm-checkbox ng-disabled="opts.disabled" ng-model="opts.checked">Field 3</sm-checkbox>
      </div>
    </div>

    <script src="../../../../node_modules/angular/angular.js"></script>
    <script src="../../../../node_modules/angular-aria/angular-aria.js"></script>
    <script src="checkbox.module.js"></script>
    <script src="../checkbox.js"></script>
  </body>
</html>