<!DOCTYPE html>
<html ng-app="demo">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../../node_modules/semantic-ui-css/semantic.css"/>
    <style>
      body {
        padding: 4em;
      }
    </style>
</head>
<body>

<div ng-controller="RatingDemoCtrl">
  <sm-rating ng-model="rate" type="heart" size="large" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></sm-rating>
  <div class="ui mini label" ng-class="{'yellow': percent<30, 'blue': percent>=30 && percent<70, 'green': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</div>

  <pre class="ui segment" style="margin:20px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>

  <div class="ui red button" ng-click="rate = 0" ng-disabled="isReadonly">Clear</div>
  <div class="ui basic button" ng-click="isReadonly = ! isReadonly">Toggle Readonly</div>
</div>

<script src="../../../../node_modules/angular/angular.js"></script>
<script src="demo.js"></script>
<script src="../rating.js"></script>
</body>
</html>
